/*#canvas-container {
   width: 100%;
   /*text-align:center;*/
  /* vertical-align: middle;
}*/

/*
video
{
    transform: rotate(180deg);
    -webkit-transform:rotate(180deg); 
    -moz-transform:rotate(180deg); 
}

canvas{    
	border:1px solid black;    
	position: absolute;      
	top: 50%;      
	left: 50%;    
	margin-top: -320px;
	filter:FlipH;
} */
/*
.videoImage
    {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
    }
*/